## Lending Club Loan Data Analysis

### importing libraries

In [350]:
# importing necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

%matplotlib inline

# visualization settings
sns.set_style("whitegrid")
plt.rcParams["figure.figsize"] = (10, 6)

# display settings
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

# ignore harmless warnings
warnings.filterwarnings("ignore", category=FutureWarning)
warnings.filterwarnings("ignore", category=UserWarning)

### loading data

In [351]:
df = pd.read_csv('/Users/charu/Desktop/Projects/credit-risk-eda/data/lending_club_loan_two.csv')
print("Main dataset preview:")
df.shape

Main dataset preview:

(396030, 27)

In [352]:
df.head(10)

   loan_amnt        term  int_rate  installment grade sub_grade                      emp_title emp_length home_ownership  annual_inc verification_status   issue_d  loan_status             purpose                    title    dti earliest_cr_line  open_acc  pub_rec  revol_bal  revol_util  total_acc initial_list_status application_type  mort_acc  pub_rec_bankruptcies                                            address
0    10000.0   36 months     11.44       329.48     B        B4                      Marketing  10+ years           RENT    117000.0        Not Verified  Jan-2015   Fully Paid            vacation                 Vacation  26.24         Jun-1990      16.0      0.0    36369.0        41.8       25.0                   w       INDIVIDUAL       0.0                   0.0       0174 Michelle Gateway\nMendozaberg, OK 22690
1     8000.0   36 months     11.99       265.68     B        B5                Credit analyst     4 years       MORTGAGE     65000.0        Not Verified  Jan-2015   Fully Paid  debt_consolidation       Debt consolidation  22.05         Jul-2004      17.0      0.0    20131.0        53.3       27.0                   f       INDIVIDUAL       3.0                   0.0    1076 Carney Fort Apt. 347\nLoganmouth, SD 05113
2    15600.0   36 months     10.49       506.97     B        B3                   Statistician   < 1 year           RENT     43057.0     Source Verified  Jan-2015   Fully Paid         credit_card  Credit card refinancing  12.79         Aug-2007      13.0      0.0    11987.0        92.2       26.0                   f       INDIVIDUAL       0.0                   0.0    87025 Mark Dale Apt. 269\nNew Sabrina, WV 05113
3     7200.0   36 months      6.49       220.65     A        A2                Client Advocate    6 years           RENT     54000.0        Not Verified  Nov-2014   Fully Paid         credit_card  Credit card refinancing   2.60         Sep-2006       6.0      0.0     5472.0        21.5       13.0                   f       INDIVIDUAL       0.0                   0.0              823 Reid Ford\nDelacruzside, MA 00813
4    24375.0   60 months     17.27       609.33     C        C5        Destiny Management Inc.    9 years       MORTGAGE     55000.0            Verified  Apr-2013  Charged Off         credit_card    Credit Card Refinance  33.95         Mar-1999      13.0      0.0    24584.0        69.8       43.0                   f       INDIVIDUAL       1.0                   0.0               679 Luna Roads\nGreggshire, VA 11650
5    20000.0   36 months     13.33       677.07     C        C3                  HR Specialist  10+ years       MORTGAGE     86788.0            Verified  Sep-2015   Fully Paid  debt_consolidation       Debt consolidation  16.31         Jan-2005       8.0      0.0    25757.0       100.6       23.0                   f       INDIVIDUAL       4.0                   0.0  1726 Cooper Passage Suite 129\nNorth Deniseber...
6    18000.0   36 months      5.32       542.07     A        A1  Software Development Engineer    2 years       MORTGAGE    125000.0     Source Verified  Sep-2015   Fully Paid    home_improvement         Home improvement   1.36         Aug-2005       8.0      0.0     4178.0         4.9       25.0                   f       INDIVIDUAL       3.0                   0.0  1008 Erika Vista Suite 748\nEast Stephanie, TX...
7    13000.0   36 months     11.14       426.47     B        B2                   Office Depot  10+ years           RENT     46000.0        Not Verified  Sep-2012   Fully Paid         credit_card     No More Credit Cards  26.87         Sep-1994      11.0      0.0    13425.0        64.5       15.0                   f       INDIVIDUAL       0.0                   0.0                          USCGC Nunez\nFPO AE 30723
8    18900.0   60 months     10.99       410.84     B        B3          Application Architect  10+ years           RENT    103000.0            Verified  Oct-2014   Fully Paid  debt_consolidation       Debt consolidation  12.52         Jun-1994      13.0      0.0    18637.0        32.9       40.0                   w       INDIVIDUAL       3.0                   0.0                           USCGC Tran\nFPO AP 22690
9    26300.0   36 months     16.29       928.40     C        C5             Regado Biosciences    3 years       MORTGAGE    115000.0            Verified  Apr-2012   Fully Paid  debt_consolidation       Debt Consolidation  23.69         Dec-1997      13.0      0.0    22171.0        82.4       37.0                   f       INDIVIDUAL       1.0                   0.0               3390 Luis Rue\nMauricestad, VA 00813

In [353]:
df.describe()

           loan_amnt       int_rate    installment    annual_inc            dti       open_acc        pub_rec     revol_bal     revol_util      total_acc       mort_acc  pub_rec_bankruptcies
count  396030.000000  396030.000000  396030.000000  3.960300e+05  396030.000000  396030.000000  396030.000000  3.960300e+05  395754.000000  396030.000000  358235.000000         395495.000000
mean    14113.888089      13.639400     431.849698  7.420318e+04      17.379514      11.311153       0.178191  1.584454e+04      53.791749      25.414744       1.813991              0.121648
std      8357.441341       4.472157     250.727790  6.163762e+04      18.019092       5.137649       0.530671  2.059184e+04      24.452193      11.886991       2.147930              0.356174
min       500.000000       5.320000      16.080000  0.000000e+00       0.000000       0.000000       0.000000  0.000000e+00       0.000000       2.000000       0.000000              0.000000
25%      8000.000000      10.490000     250.330000  4.500000e+04      11.280000       8.000000       0.000000  6.025000e+03      35.800000      17.000000       0.000000              0.000000
50%     12000.000000      13.330000     375.430000  6.400000e+04      16.910000      10.000000       0.000000  1.118100e+04      54.800000      24.000000       1.000000              0.000000
75%     20000.000000      16.490000     567.300000  9.000000e+04      22.980000      14.000000       0.000000  1.962000e+04      72.900000      32.000000       3.000000              0.000000
max     40000.000000      30.990000    1533.810000  8.706582e+06    9999.000000      90.000000      86.000000  1.743266e+06     892.300000     151.000000      34.000000              8.000000

In [354]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396030 entries, 0 to 396029
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   loan_amnt             396030 non-null  float64
 1   term                  396030 non-null  object
 2   int_rate              396030 non-null  float64
 3   installment           396030 non-null  float64
 4   grade                 396030 non-null  object
 5   sub_grade             396030 non-null  object
 6   emp_title             373103 non-null  object
 7   emp_length            377729 non-null  object
 8   home_ownership        396030 non-null  object
 9   annual_inc            396030 non-null  float64
 10  verification_status   396030 non-null  object
 11  issue_d               396030 non-null  object
 12  loan_status           396030 non-null  object
 13  purpose               396030 non-null  object
 14  title                 394274 non-null  object
 15  dti                   396030 non-null  float64
 16  earliest_cr_line      396030 non-null  object
 17  open_acc              396030 non-null  float64
 18  pub_rec               396030 non-null  float64
 19  revol_bal             396030 non-null  float64
 20  revol_util            395754 non-null  float64
 21  total_acc             396030 non-null  float64
 22  initial_list_status   396030 non-null  object
 23  application_type      396030 non-null  object
 24  mort_acc              358235 non-null  float64
 25  pub_rec_bankruptcies  395495 non-null  float64
 26  address               396030 non-null  object
dtypes: float64(12), object(15)
memory usage: 81.6+ MB

### basic cleaning

In [355]:
df['issue_d'] = pd.to_datetime(df['issue_d'], errors='coerce')
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], errors='coerce')

In [356]:
df['annual_inc'] = pd.to_numeric(df['annual_inc'], errors='coerce')
df['dti'] = pd.to_numeric(df['dti'], errors='coerce')
df['loan_amnt'] = pd.to_numeric(df['loan_amnt'], errors='coerce')

In [357]:
df = df.drop_duplicates()
df.isnull().sum()

loan_amnt                   0
term                        0
int_rate                    0
installment                 0
grade                       0
sub_grade                   0
emp_title               22927
emp_length              18301
home_ownership              0
annual_inc                  0
verification_status         0
issue_d                     0
loan_status                 0
purpose                     0
title                    1756
dti                         0
earliest_cr_line            0
open_acc                    0
pub_rec                     0
revol_bal                   0
revol_util                276
total_acc                   0
initial_list_status         0
application_type            0
mort_acc                37795
pub_rec_bankruptcies      535
address                     0
dtype: int64

In [358]:
df = df.dropna(subset=['loan_status'])
num_cols = ['dti', 'annual_inc', 'revol_util', 'open_acc']
for col in num_cols:
    df[col].fillna(df[col].median(), inplace=True)

In [359]:
cat_cols = ['emp_title', 'emp_length', 'title']
for col in cat_cols:
    df[col].fillna("Unknown", inplace=True)

In [360]:
def clean_emp_length(x):
    if pd.isna(x):
        return 0
    if "<" in x:
        return 0.5
    if "10+" in x:
        return 10
    try:
        return float(x.split()[0])
    except:
        return 0

df['emp_length_clean'] = df['emp_length'].apply(clean_emp_length)

In [361]:
df['default'] = df['loan_status'].apply(lambda x: 1 if x == 'Charged Off' else 0)
df['credit_age_years'] = (pd.to_datetime("today") - df['earliest_cr_line']).dt.days / 365
df.drop(['initial_list_status', 'title'], axis=1, inplace=True)

cleaning check

In [362]:
df.info()
df.head()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396030 entries, 0 to 396029
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   loan_amnt             396030 non-null  float64
 1   term                  396030 non-null  object
 2   int_rate              396030 non-null  float64
 3   installment           396030 non-null  float64
 4   grade                 396030 non-null  object
 5   sub_grade             396030 non-null  object
 6   emp_title             396030 non-null  object
 7   emp_length            396030 non-null  object
 8   home_ownership        396030 non-null  object
 9   annual_inc            396030 non-null  float64
 10  verification_status   396030 non-null  object
 11  issue_d               396030 non-null  datetime64[ns]
 12  loan_status           396030 non-null  object
 13  purpose               396030 non-null  object
 14  dti                   396030 non-null  float64
 15  earliest_cr_line      396030 non-null  datetime64[ns]
 16  open_acc              396030 non-null  float64
 17  pub_rec               396030 non-null  float64
 18  revol_bal             396030 non-null  float64
 19  revol_util            396030 non-null  float64
 20  total_acc             396030 non-null  float64
 21  application_type      396030 non-null  object
 22  mort_acc              358235 non-null  float64
 23  pub_rec_bankruptcies  395495 non-null  float64
 24  address               396030 non-null  object
 25  emp_length_clean      396030 non-null  float64
 26  default               396030 non-null  int64
 27  credit_age_years      396030 non-null  float64
dtypes: datetime64[ns](2), float64(14), int64(1), object(11)
memory usage: 84.6+ MB

            loan_amnt        term       int_rate    installment   grade sub_grade emp_title emp_length home_ownership    annual_inc verification_status                        issue_d loan_status             purpose            dti               earliest_cr_line       open_acc        pub_rec     revol_bal     revol_util      total_acc application_type       mort_acc  pub_rec_bankruptcies                    address  emp_length_clean        default  credit_age_years
count   396030.000000      396030  396030.000000  396030.000000  396030    396030    396030     396030         396030  3.960300e+05              396030                         396030      396030              396030  396030.000000                         396030  396030.000000  396030.000000  3.960300e+05  396030.000000  396030.000000           396030  358235.000000         395495.000000                     396030     396030.000000  396030.000000     396030.000000
unique            NaN           2            NaN            NaN       7        35    173106         12              6           NaN                   3                            NaN           2                  14            NaN                            NaN            NaN            NaN           NaN            NaN            NaN                3            NaN                   NaN                     393700               NaN            NaN               NaN
top               NaN   36 months            NaN            NaN       B        B3   Unknown  10+ years       MORTGAGE           NaN            Verified                            NaN  Fully Paid  debt_consolidation            NaN                            NaN            NaN            NaN           NaN            NaN            NaN       INDIVIDUAL            NaN                   NaN  USCGC Smith\nFPO AE 70466               NaN            NaN               NaN
freq              NaN      302005            NaN            NaN  116018     26655     22927     126041         198348           NaN              139563                            NaN      318357              234507            NaN                            NaN            NaN            NaN           NaN            NaN            NaN           395319            NaN                   NaN                          8               NaN            NaN               NaN
mean     14113.888089         NaN      13.639400     431.849698     NaN       NaN       NaN        NaN            NaN  7.420318e+04                 NaN  2014-02-02 15:57:58.045602560         NaN                 NaN      17.379514  1998-05-03 09:34:15.062495488      11.311153       0.178191  1.584454e+04      53.792451      25.414744              NaN       1.813991              0.121648                        NaN          5.704203       0.196129         27.607127
min        500.000000         NaN       5.320000      16.080000     NaN       NaN       NaN        NaN            NaN  0.000000e+00                 NaN            2007-06-01 00:00:00         NaN                 NaN       0.000000            1944-01-01 00:00:00       0.000000       0.000000  0.000000e+00       0.000000       2.000000              NaN       0.000000              0.000000                        NaN          0.000000       0.000000         12.183562
25%       8000.000000         NaN      10.490000     250.330000     NaN       NaN       NaN        NaN            NaN  4.500000e+04                 NaN            2013-05-01 00:00:00         NaN                 NaN      11.280000            1994-10-01 00:00:00       8.000000       0.000000  6.025000e+03      35.900000      17.000000              NaN       0.000000              0.000000                        NaN          2.000000       0.000000         22.693151
50%      12000.000000         NaN      13.330000     375.430000     NaN       NaN       NaN        NaN            NaN  6.400000e+04                 NaN            2014-04-01 00:00:00         NaN                 NaN      16.910000            1999-09-01 00:00:00      10.000000       0.000000  1.118100e+04      54.800000      24.000000              NaN       1.000000              0.000000                        NaN          6.000000       0.000000         26.276712
75%      20000.000000         NaN      16.490000     567.300000     NaN       NaN       NaN        NaN            NaN  9.000000e+04                 NaN            2015-03-01 00:00:00         NaN                 NaN      22.980000            2003-04-01 00:00:00      14.000000       0.000000  1.962000e+04      72.900000      32.000000              NaN       3.000000              0.000000                        NaN         10.000000       0.000000         31.197260
max      40000.000000         NaN      30.990000    1533.810000     NaN       NaN       NaN        NaN            NaN  8.706582e+06                 NaN            2016-12-01 00:00:00         NaN                 NaN    9999.000000            2013-10-01 00:00:00      90.000000      86.000000  1.743266e+06     892.300000     151.000000              NaN      34.000000              8.000000                        NaN         10.000000       1.000000         81.980822
std       8357.441341         NaN       4.472157     250.727790     NaN       NaN       NaN        NaN            NaN  6.163762e+04                 NaN                            NaN         NaN                 NaN      18.019092                            NaN       5.137649       0.530671  2.059184e+04      24.443685      11.886991              NaN       2.147930              0.356174                        NaN          3.714226       0.397068          7.205303